<!DOCTYPE HTML>

<html lang="en">

<head>
	<title> Welcome to Markdown blog </title>
	<link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}
</head>

<body>

	<header>
        <h1> Milan Urban </h1>
	</header>

    <nav>
        <ul class="nav">
            <li> <a href=#">About</a> </li>
            <li> <a href=#">Articles</a> </li>
            <li> <a href=#">Admin</a> </li>
        </ul>
    </nav>

    <main>
        Hi, I´am Milan Urban, friends call me Miňo. I am from Slovakian and I am cooooool.
    </main>

	<footer>
		<p>
            (c) 2020 Milan Urban
        </p>
	</footer>

</body>

</html>